@import '../../styles/main.scss';

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  font-weight: bold;
  color: $text-over-primary;
  background-color: $primary;
  text-decoration: none;
  padding: 1.2rem;
  border-radius: 0.8rem;
  &:hover {
    background-color: adjust-color(
      $color: $primary,
      $lightness: -10%,
      $alpha: 1
    );
    transition: background-color ease-in-out 0.1s;
  }

  svg {
    width: 2.4rem;
    height: auto;
  }
}
