@import '../../styles/main.scss';

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0 0 0;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 3.8rem;
  font-weight: bold;
  color: $primary;
  text-decoration: none;
  &:hover {
    color: adjust-color($color: $primary, $lightness: -10%, $alpha: 1);
    transition: color ease-in-out 0.2s;
  }

  svg {
    width: 6.4rem;
    height: auto;
  }
}
