@import '../../styles/main.scss';

.input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid $primary;
  color: $text-default;
  transition: border 0.1s ease-in-out;

  &::placeholder {
    color: $gray-500;
    font-size: 1.4rem;
    font-style: italic;
  }

  &:focus {
    border: 0.2rem solid $primary;
    border-radius: 0.8rem;
    outline-color: transparent;
    outline-width: 0;
  }
  &[disabled] {
    border-bottom-color: $disabled;
    color: $text-muted;
    cursor: not-allowed;
  }
}
