@import '../../styles/main.scss';

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;

  a {
    color: $text-muted;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
